#map svg {
  background-color: #000000;
}
#map path {
  fill: #ffffff;
  stroke: #000000;
}
#map path.hover {
  fill: #ff0000 !important;
  stroke: #ff0000 !important;
}
#map path.land.barren {
  fill: #d4b08c;
  stroke: #d4b08c;
}
#map path.land.barren.frozen {
  fill: #ffffff;
  stroke: #ffffff;
}
#map path.land.desert {
  fill: #f7f2ba;
  stroke: #f7f2ba;
}
#map path.land.desert.frozen {
  fill: #ffffff;
  stroke: #ffffff;
}
#map path.land.forest {
  fill: #056105;
  stroke: #056105;
}
#map path.land.forest.frozen {
  fill: #ffffff;
  stroke: #ffffff;
}
#map path.land.grass {
  fill: #9cd071;
  stroke: #9cd071;
}
#map path.land.grass.frozen {
  fill: #ffffff;
  stroke: #ffffff;
}
#map path.land.rock.charred {
  fill: #25180e;
  stroke: #25180e;
}
#map path.land.rock.charred.frozen {
  fill: #f8f1ed;
  stroke: #f8f1ed;
}
#map path.land.rock.hard {
  fill: #a8a8a8;
  stroke: #a8a8a8;
}
#map path.land.rock.hard.frozen {
  fill: #ffffff;
  stroke: #ffffff;
}
#map path.land.rock.soft {
  fill: #d9d9d9;
  stroke: #d9d9d9;
}
#map path.land.rock.soft.frozen {
  fill: #ffffff;
  stroke: #ffffff;
}
#map path.sea.deep {
  fill: #4646b4;
  stroke: #4646b4;
}
#map path.sea.deep.frozen {
  fill: #fbfbfe;
  stroke: #fbfbfe;
}
#map path.sea.lava {
  fill: #ff7300;
  stroke: #ff7300;
}
#map path.sea.shallow {
  fill: #4682b4;
  stroke: #4682b4;
}
#map path.sea.shallow.frozen {
  fill: #fbfdfe;
  stroke: #fbfdfe;
}
#map path.star.blue {
  fill: #f0ffff;
  stroke: #f0ffff;
}
#map path.star.red {
  fill: #ff4800;
  stroke: #ff4800;
}
#map path.star.yellow {
  fill: #ffff00;
  stroke: #ffff00;
}